<h2>Lista de Categorias</h2>

<a href="/admin/categories/add"><button class="btn btn-success shadow-lg p-1 mb-5 rounded">Adicionar nova categoria</button></a>

{{#each categories}}
    <div class="card mt-4">
        <div class="card-body">
            <h4 class="">{{nome}}</h4>
            <small>{{slug}}</small>
            <br>
            <small>Data de criação: {{date}}</small>
            <br>
           <a href="/admin/categories/edit/{{_id}}"> <button class="btn btn-success mt-3">Editar Categoira</button></a>

           <form action="/admin/categories/delete" method="POST">
               <input type="hidden" name="id" value="{{_id}}" >
               <button type="submit" class="btn btn-danger mt-2"> Deletar</button>
           </form> 
        </div>
    </div>
{{else}}
    <h4>Nenhuma categoria registrada</h4>
{{/each}}